Node Red Project UI flow.json
[{"id":"739076b6.87f4c8","type":"tab","label":"Project flow","disabled":false,"info":""},{"id":"6df20ec0.ebfb9","type":"switch","z":"739076b6.87f4c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":2,"x":530,"y":160,"wires":[["f25f21e7.b207c"],["15170ccd.06bf83"]]},{"id":"4d269f43.56456","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>EMAIL NOT PRESENT</h1>\n  </body>\n</html>  ","output":"str","x":880,"y":60,"wires":[[]]},{"id":"c1b97561.ed43c8","type":"function","z":"739076b6.87f4c8","name":"","func":"global.set(\"email\",msg.payload.email);\nmsg.payload={\n    \"_id\":msg.payload.email\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["58bf1afe.b93f44"]]},{"id":"d6ec7e56.64c7","type":"http in","z":"739076b6.87f4c8","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["bdfddffa.9248"]]},{"id":"1b8422e.d8ccbdd","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":730,"y":60,"wires":[]},{"id":"887070be.bfde6","type":"http in","z":"739076b6.87f4c8","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["c1b97561.ed43c8","20e25bab.20e5b4"]]},{"id":"eb0588c5.b0f798","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":770,"y":240,"wires":[]},{"id":"93f39fe1.78b89","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/login\" method=\"post\">\n      <h1>Enter your information below to sign up for our newsletter</h1>\n      <label for=\"email\">Email Address:</label>\n      <input type=\"text\" name=\"email\" />\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":300,"y":1180,"wires":[[]]},{"id":"bdfddffa.9248","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>Check Your Registration Status</h1>\n        <form action=\"/login\" method=\"post\">\n            <input type=\"text\" name=\"email\" placeholder=\"Username\" required=\"required\" />\n            <!input type=\"password\" name=\"p\" placeholder=\"Password\" required=\"required\" />\n            <button type=\"submit\" class=\"btn btn-primary btn-block btn-large\">Let me in.</button>\n        </form>\n    </div>\n    </body>\n</html>","output":"str","x":380,"y":60,"wires":[["1b8422e.d8ccbdd"]]},{"id":"6928470c.7c91d8","type":"template","z":"739076b6.87f4c8","name":"registration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n      <style>\n          @font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');\n    font-weight: 500;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');\n    font-weight: 100;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');\n    font-weight: 200;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');\n    font-weight: 500;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');\n    font-weight: bold;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');\n    font-weight: 200;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');\n    font-weight: bold;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');\n    font-weight: 600;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');\n    font-weight: 300;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');\n    font-weight: 800;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');\n    font-weight: 800;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');\n    font-weight: 600;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');\n    font-weight: normal;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');\n    font-weight: 100;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');\n    font-weight: normal;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');\n    font-weight: 300;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');\n    font-weight: 900;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');\n    font-weight: 900;\n    font-style: italic;\n}\n\nbody {\n\tmargin:  0;\n}\n.page-content {\n\twidth: 100%;\n\tmargin:  0 auto;\n\tbackground: #75e2e9;\n\tdisplay: flex;\n\tdisplay: -webkit-flex;\n\tjustify-content: center;\n\t-o-justify-content: center;\n\t-ms-justify-content: center;\n\t-moz-justify-content: center;\n\t-webkit-justify-content: center;\n\talign-items: center;\n\t-o-align-items: center;\n\t-ms-align-items: center;\n\t-moz-align-items: center;\n\t-webkit-align-items: center;\n\tbackground-image: -moz-linear-gradient( 136deg, rgb(149,153,226) 0%, rgb(139,198,236) 100%);\n    background-image: -webkit-linear-gradient( 136deg, rgb(149,153,226) 0%, rgb(139,198,236) 100%);\n    background-image: -ms-linear-gradient( 136deg, rgb(149,153,226) 0%, rgb(139,198,236) 100%);\n}\n.form-v10-content  {\n\tbackground: #fff;\n\twidth: 1100px;\n\tborder-radius: 10px;\n\t-o-border-radius: 10px;\n\t-ms-border-radius: 10px;\n\t-moz-border-radius: 10px;\n\t-webkit-border-radius: 10px;\n\tbox-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\t-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\t-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\t-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\t-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\tmargin: 95px 0;\n\tposition: relative;\n\tfont-family: 'Montserrat', sans-serif;\n}\n.form-v10-content .form-detail {\n\tposition: relative;\n\twidth: 100%;\n\tdisplay: flex;\n\tdisplay: -webkit-flex;\n}\n.form-v10-content .form-detail h2 {\n\tfont-weight: 500;\n\tfont-size: 25px;\n\tmargin-bottom: 34px;\n\tpadding: 33px 50px 0px 60px;\n}\n.form-v10-content .form-detail .form-left {\n\tborder-top-left-radius: 10px;\n\tborder-bottom-left-radius: 10px;\n\twidth: 100%;\n}\n.form-v10-content .form-detail .form-left h2 {\n\tcolor: #2271dd;\n}\n.form-v10-content .form-detail .form-right {\n\twidth: 100%;\n\tbackground: #4835d4;\n\tborder-top-right-radius: 10px;\n\tborder-bottom-right-radius: 10px;\n}\n.form-v10-content .form-detail .form-right h2 {\n\tcolor: #fff;\n}\n.form-v10-content .form-detail .form-group {\n\tdisplay: flex;\n\tdisplay: -webkit-flex;\n}\n.form-v10-content .form-detail .form-row {\n\tposition: relative;\n\tmargin-bottom: 24px;\n\tpadding-left: 60px;\n    padding-right: 50px;\n}\n.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1 {\n\twidth: 50%;\n\tpadding: 0 12px 0 60px;\n}\n.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2 {\n\twidth: 50%;\n\tpadding: 0 50px 0 12px;\n}\n.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3 {\n\twidth: 73%;\n\tpadding: 0 12px 0 60px;\n}\n.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 {\n\twidth: 50%;\n\tpadding: 0 50px 0 12px;\n}\n.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1 {\n\twidth: 50%;\n\tpadding: 0 12px 0 60px;\n}\n.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {\n\twidth: 100%;\n\tpadding: 0 50px 0 12px;\n}\n.form-v10-content .form-detail select,\n.form-v10-content .form-detail input {\n\twidth: 100%;\n    padding: 11.5px 15px 15px 15px;\n    border: 1px solid transparent;\n    background: transparent;\n    appearance: unset;\n    -moz-appearance: unset;\n    -webkit-appearance: unset;\n    -o-appearance: unset;\n    -ms-appearance: unset;\n    outline: none;\n    -moz-outline: none;\n    -webkit-outline: none;\n    -o-outline: none;\n    -ms-outline: none;\n    font-family: 'Montserrat', sans-serif;\n    font-size: 16px;\n    box-sizing: border-box;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    -o-box-sizing: border-box;\n    -ms-box-sizing: border-box;\n}\n.form-v10-content .form-detail select {\n\tbackground: 0 0;\n\tposition: relative;\n\tz-index: 9;\n\tcursor: pointer;\n}\n.form-v10-content .form-detail .form-left select {\n\tcolor: #666;\n}\n.form-v10-content .form-detail .form-right select {\n\tcolor: #f2f2f2;\n}\n.form-v10-content .form-detail .select-btn {\n\tz-index: 0;\n    position: absolute;\n    top: 30%;\n    right: 11.5%;\n    font-size: 18px;\n}\n.form-v10-content .form-detail .form-left .select-btn {\n    color: #666;\n}\n.form-v10-content .form-detail .form-right .select-btn {\n    color: #f2f2f2;\n}\n.form-v10-content .form-detail .form-group .form-row.form-row-4 .select-btn {\n\ttop: 20%;\n\tright: 26%;\n}\n.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {\n\ttop: 20%;\n\tright: 19%;\n}\n.form-v10-content .form-detail .form-left input {\n\tcolor: #000;\n}\n.form-v10-content .form-detail .form-right input {\n\tcolor: #fff;\n}\n.form-v10-content .form-detail .form-left input,\n.form-v10-content .form-detail .form-left select {\n\tborder-bottom: 1px solid #ccc;\n}\n.form-v10-content .form-detail .form-left input:focus,\n.form-v10-content .form-detail .form-left select:focus {\n\tborder-bottom: 1px solid #999;\n}\n.form-v10-content .form-detail .form-right input,\n.form-v10-content .form-detail .form-right select {\n\tborder-bottom: 1px solid;\n\tborder-bottom-color: rgba(255, 255, 255, 0.3);\n}\n.form-v10-content .form-detail .form-right input:focus,\n.form-v10-content .form-detail .form-right select:focus {\n\tborder-bottom: 1px solid #ccc;\n}\n.form-v10-content .form-detail .form-right select option {\n\tbackground: #4835d4;\n}\n.form-v10-content .form-detail .form-checkbox {\n\tmargin-top: 37px;\n\tpadding: 0 50px 0 60px;\n\tposition: relative;\n}\n.form-v10-content .form-detail .form-checkbox input {\n\tposition: absolute;\n    opacity: 0;\n}\n.form-v10-content .form-detail .form-checkbox .checkmark {\n\tposition: absolute;\n    top: 1px;\n    left: 60px;\n    height: 15px;\n    width: 15px;\n    border: 1px solid #e5e5e5;\n    cursor: pointer;\n}\n.form-v10-content .form-detail .form-checkbox .checkmark::after {\n\tcontent: \"\";\n    position: absolute;\n    left: 5px;\n   \ttop: 1px;\n    width: 3px;\n    height: 8px;\n    border: 1px solid #fff;\n    border-width: 0 2px 2px 0;\n    -webkit-transform: rotate(45deg);\n    -ms-transform: rotate(45deg);\n    -o-transform: rotate(45deg);\n    -moz-transform: rotate(45deg);\n    transform: rotate(45deg);\n    display: none;\n}\n.form-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {\n    display: block;\n}\n.form-v10-content .form-detail .form-checkbox p {\n    margin-left: 34px;\n    color: #e5e5e5;\n    font-size: 14px;\n    font-weight: 400;\n}\n.form-v10-content .form-detail .form-checkbox .text {\n\tfont-weight: 400;\n\tcolor: #fff;\n\ttext-decoration: underline;\n}\n.form-v10-content .form-detail .form-right .form-row-last {\n    padding-left: 60px;\n    margin: 44px 0 10px;\n}\n.form-v10-content .form-detail .form-right .register {\n\tbackground: #fff;\n\tborder-radius: 25px;\n\t-o-border-radius: 25px;\n\t-ms-border-radius: 25px;\n\t-moz-border-radius: 25px;\n\t-webkit-border-radius: 25px;\n\tbox-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\t-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\t-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\t-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\t-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\twidth: 180px;\n\tborder: none;\n\tmargin: 6px 0 50px 0px;\n\tcursor: pointer;\n\tcolor: #333;\n\tfont-weight: 700;\n\tfont-size: 15px;\n}\n.form-v10-content .form-detail .form-right .register:hover {\n\tbackground: #ccc;\n}\n.form-v10-content .form-detail .form-right .form-row-last input {\n\tpadding: 12.5px;\n}\n.form-v10-content .form-detail .form-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */\n  color: #666;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-left input::-moz-placeholder { /* Firefox 19+ */\n  color: #666;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-left input:-ms-input-placeholder { /* IE 10+ */\n  color: #666;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-left input:-moz-placeholder { /* Firefox 18- */\n  color: #666;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-right input::-webkit-input-placeholder { /* Chrome/Opera/Safari */\n  color: #f2f2f2;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-right input::-moz-placeholder { /* Firefox 19+ */\n  color: #f2f2f2;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-right input:-ms-input-placeholder { /* IE 10+ */\n  color: #f2f2f2;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-right input:-moz-placeholder { /* Firefox 18- */\n  color: #f2f2f2;\n  font-size: 16px;\n}\n\n/* Responsive */\n@media screen and (max-width: 1199px) {\n\t.form-v10-content {\n\t\tmargin:  95px 20px;\n\t}\n}\n@media screen and (max-width: 991px) and (min-width: 768px) {\n\t.form-v10-content .form-detail .form-group {\n\t\tflex-direction:  column;\n\t\t-o-flex-direction:  column;\n\t\t-ms-flex-direction:  column;\n\t\t-moz-flex-direction:  column;\n\t\t-webkit-flex-direction:  column;\n\t}\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {\n\t    width: auto;\n\t    padding: 0 50px 0 60px;\n\t}\n\t.form-v10-content .form-detail .select-btn,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {\n\t\tright: 15%;\n\t}\n\n}\n@media screen and (max-width: 767px) {\n\t.form-v10-content .form-detail {\n\t\tflex-direction:  column;\n\t\t-o-flex-direction:  column;\n\t\t-ms-flex-direction:  column;\n\t\t-moz-flex-direction:  column;\n\t\t-webkit-flex-direction:  column;\n\t}\n\t.form-v10-content .form-detail .form-right {\n\t\tborder-top-right-radius: 0px;\n    \tborder-bottom-left-radius: 10px;\n\t}\n\t.form-v10-content .form-detail .form-left {\n\t\tpadding-bottom: 50px;\n\t}\n}\n@media screen and (max-width: 575px) {\n\t.form-v10-content .form-detail .form-group {\n\t\tflex-direction:  column;\n\t\t-o-flex-direction:  column;\n\t\t-ms-flex-direction:  column;\n\t\t-moz-flex-direction:  column;\n\t\t-webkit-flex-direction:  column;\n\t}\n\t.form-v10-content .form-detail .form-row,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {\n\t    width: auto;\n\t    padding: 0 30px;\n\t}\n\t.form-v10-content .form-detail .select-btn,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {\n\t\tright: 15%;\n\t}\n\t.form-v10-content .form-detail h2 {\n\t    padding: 33px 30px 0px 30px;\n\t}\n\t.form-v10-content .form-detail .form-checkbox {\n\t\tpadding: 0 30px;\n\t}\n\t.form-v10-content .form-detail .form-checkbox .checkmark {\n\t\tleft: 30px;\n\t}\n\t.form-v10-content .form-detail .form-right .form-row-last {\n\t\tpadding-left: 0;\n\t\ttext-align: center;\n\t    margin: 44px 0 30px;\n\t}\n}\n      </style>\n  </head>\n  <body class=\"form-v10\">\n\t<div class=\"page-content\">\n\t\t<div class=\"form-v10-content\">\n\t\t\t<form class=\"form-detail\" action=\"/register\" method=\"post\" id=\"myform\">\n\t\t\t\t<div class=\"form-left\">\n\t\t\t\t\t<h2>General Infomation</h2>\n\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t<div class=\"form-row form-row-1\">\n\t\t\t\t\t\t\t<input type=\"text\" name=\"first_name\" id=\"first_name\" class=\"input-text\" placeholder=\"First Name\" required>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div class=\"form-row form-row-2\">\n\t\t\t\t\t\t\t<input type=\"text\" name=\"last_name\" id=\"last_name\" class=\"input-text\" placeholder=\"Last Name\" required>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<select name=\"gender\">\n\t\t\t\t\t\t    <option value=\"not specified\">Gender</option>\n\t\t\t\t\t\t    <option value=\"male\">Male</option>\n\t\t\t\t\t\t    <option value=\"female\">Female</option>\n\t\t\t\t\t\t    <option value=\"other\">Other</option>\n\t\t\t\t\t\t</select>\n\t\t\t\t\t\t<span class=\"select-btn\">\n\t\t\t\t\t\t  \t<i class=\"zmdi zmdi-chevron-down\"></i>\n\t\t\t\t\t\t</span>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"password\" name=\"password\" class=\"input-text\" placeholder=\"Password\" required>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"form-right\">\n\t\t\t\t\t<h2>Contact Details</h2>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"address\" class=\"street\" id=\"street\" placeholder=\"Residential Address\" required>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"street\" class=\"additional\" id=\"additional\" placeholder=\"Street\" required>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t<div class=\"form-row form-row-1\">\n\t\t\t\t\t\t\t<input type=\"text\" name=\"pin\" class=\"zip\" id=\"zip\" placeholder=\"Pin Code\" required>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div class=\"form-row form-row-2\">\n\t\t\t\t\t\t\t<input type=\"text\" name=\"city\" class=\"street\" placeholder=\"City\" required>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"code\" class=\"code\" id=\"code\" placeholder=\"Country Code +\" required>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"phone\" class=\"phone\" id=\"phone\" placeholder=\"Phone Number\" required>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"your_email\" id=\"your_email\" class=\"input-text\" required pattern=\"[^@]+@[^@]+.[a-zA-Z]{2,6}\" placeholder=\"Your Email\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-checkbox\">\n\t\t\t\t\t\t<label class=\"container\"><p>I do accept the <a href=\"#\" class=\"text\">Terms and Conditions</a> of your site.</p>\n\t\t\t\t\t\t  \t<input type=\"checkbox\" name=\"checkbox\">\n\t\t\t\t\t\t  \t<span class=\"checkmark\"></span>\n\t\t\t\t\t\t</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row-last\">\n\t\t\t\t\t\t<input type=\"submit\" name=\"register\" class=\"register\" value=\"Register\">\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</form>\n\t\t</div>\n\t</div>\n</body><!-- This templates was made by Colorlib (https://colorlib.com) -->\n</html>  ","output":"str","x":270,"y":1120,"wires":[["e1e2f77c.a491d8"]]},{"id":"3689a5c5.8224da","type":"http in","z":"739076b6.87f4c8","name":"","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":70,"y":1120,"wires":[["6928470c.7c91d8"]]},{"id":"e1e2f77c.a491d8","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":450,"y":1120,"wires":[]},{"id":"14814788.c07c18","type":"http in","z":"739076b6.87f4c8","name":"","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":590,"y":1120,"wires":[["c27533c1.69ac4","3b01654f.8b87aa"]]},{"id":"36627586.cd1d1a","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":1090,"y":1100,"wires":[]},{"id":"c27533c1.69ac4","type":"template","z":"739076b6.87f4c8","name":"successful registration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\na\n{\n    color:white;\n}\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>Successfully Registered</h1>\n        <h1><a href=\"https://node-red-ejnws.eu-gb.mybluemix.net/login\">click here</a> to take test.</h1>\n    </div>\n    </body>\n</html>","output":"str","x":880,"y":1100,"wires":[["36627586.cd1d1a"]]},{"id":"c9256a7a.9b8698","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":930,"y":140,"wires":[]},{"id":"5b9b288a.dddea8","type":"template","z":"739076b6.87f4c8","name":"Test page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>Test will start soon...</h1>\n    </div>\n    </body>\n</html>","output":"str","x":120,"y":1180,"wires":[[]]},{"id":"305fe08c.ef865","type":"http in","z":"739076b6.87f4c8","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":60,"y":840,"wires":[["10c87896.462cc7","84fca295.34778"]]},{"id":"9197ff29.f6107","type":"watson-conversation-v1","z":"739076b6.87f4c8","name":"","workspaceid":"f8fe7091-b490-40e8-93eb-53e2128025f3","multiuser":true,"context":true,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b4bc697a-13d1-400a-ae2e-3f2dbc99b7f7","timeout":"","optout-learning":false,"x":580,"y":900,"wires":[["a3d15d27.93183"]]},{"id":"b28992a6.2c838","type":"function","z":"739076b6.87f4c8","name":"","func":"var res=global.get(\"res\");\nvar rev=global.get(\"rev\");\nvar email=global.get(\"email\");\nvar prevq=global.get(\"prevq\");\nmsg.payload={\n    \"_id\":email,\n    \"_rev\":rev,\n    \"first_name\":msg.payload.first_name,\n    \"last_name\":msg.payload.last_name,\n    \"gender\":msg.payload.gender,\n    \"password\":msg.payload.password,\n    \"address\":msg.payload.address,\n    \"street\":msg.payload.street,\n    \"pin\":msg.payload.pin,\n    \"city\":msg.payload.city,\n    \"code\":msg.payload.code,\n    \"phone\":msg.payload.phone,\n    \"your_email\":msg.payload.your_email,\n    \"checkbox\":msg.payload.checkbox,\n    \"register\":msg.payload.register,\n    \"res\":res,\n    \"prevq\":prevq,\n    \"ended\":msg.payload.ended\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":900,"wires":[["94d43379.1251e"]]},{"id":"94d43379.1251e","type":"cloudant out","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","payonly":true,"operation":"insert","x":1030,"y":1000,"wires":[]},{"id":"5568aab8.1007b4","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1000,"wires":[["ebcdc654.f6b0d8"]]},{"id":"ebcdc654.f6b0d8","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":590,"y":1000,"wires":[["d7de7dda.66b18"]]},{"id":"d7de7dda.66b18","type":"function","z":"739076b6.87f4c8","name":"","func":"global.set(\"rev\",msg.payload._rev)\nglobal.set(\"res\",msg.payload.res+\" \"+global.get(\"input\"));\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":980,"wires":[[]]},{"id":"93f1c977.c9ed68","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nvar input=global.get(\"input\");\nmsg.payload=input;\nmsg.user=email;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":920,"wires":[["5568aab8.1007b4","9197ff29.f6107"]]},{"id":"a3d15d27.93183","type":"function","z":"739076b6.87f4c8","name":"","func":"global.set(\"prevq\",msg.payload.output.text);\nmsg.payload=msg.payload.output.text\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":780,"wires":[["a63144f1.96a548","567ff523.885a7c"]]},{"id":"64c1a6aa.5d93d8","type":"http in","z":"739076b6.87f4c8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":60,"y":440,"wires":[["ddd93087.f93ea"]]},{"id":"567ff523.885a7c","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"utf-8\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n/*.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n*/.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n/*.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n*/\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 20%;\n    margin: -150px 0 0 -150px;\n    width:75%;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    height: 80px;\n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\n    input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n    \n        </style>\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css\" integrity=\"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm\" crossorigin=\"anonymous\">\n\n    </head>\n    <body>\n        <div class=\"float-right\">\n            <br>\n            <form action=\"/end\" method=\"post\">\n                <button type=\"submit\" class=\"btn btn-danger\">End Interview</button>\n            </form>\n        </div>\n        <br>\n        <div class=\"login\">\n        <h1>{{payload}}</h1>\n        <form action=\"/test\" method=\"post\">\n            <input type=\"text\" name=\"input\" placeholder=\"Enter your answer\" required=\"required\" />\n            <!input type=\"password\" name=\"p\" placeholder=\"Password\" required=\"required\" />\n            <button type=\"submit\" class=\"btn btn-primary btn-block btn-large\">Submit</button>\n        </form>\n    </div>\n    <script src=\"https://code.jquery.com/jquery-3.2.1.slim.min.js\" integrity=\"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js\" integrity=\"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js\" integrity=\"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl\" crossorigin=\"anonymous\"></script>\n    </body>\n</html>","output":"str","x":1040,"y":460,"wires":[["caa443f0.696e2"]]},{"id":"caa443f0.696e2","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":1050,"y":400,"wires":[]},{"id":"5496b791.460778","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":350,"y":380,"wires":[["2cd01d8e.506e42"]]},{"id":"ddd93087.f93ea","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":380,"wires":[["5496b791.460778"]]},{"id":"fd4939a3.0ab398","type":"cloudant out","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","payonly":true,"operation":"insert","x":990,"y":1140,"wires":[]},{"id":"3b01654f.8b87aa","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email,\n    \"first_name\":msg.payload.first_name,\n    \"last_name\":msg.payload.last_name,\n    \"gender\":msg.payload.gender,\n    \"password\":msg.payload.password,\n    \"address\":msg.payload.address,\n    \"street\":msg.payload.street,\n    \"pin\":msg.payload.pin,\n    \"city\":msg.payload.city,\n    \"code\":msg.payload.code,\n    \"phone\":msg.payload.phone,\n    \"your_email\":msg.payload.your_email,\n    \"checkbox\":msg.payload.checkbox,\n    \"register\":msg.payload.register,\n    \"res\":\"\",\n    \"prevq\":\"Hi, Reply using the below box\",\n    \"ended\":false\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1140,"wires":[["fd4939a3.0ab398"]]},{"id":"8cd1b85c.7b9688","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n#passerror{\n    color:red;\n    text-shadow: 0 0 10px rgba(0,0,0,0.3);\n    letter-spacing:1px; text-align:center;\n}\n#email{\n    color:white;\n    text-shadow: 0 0 10px rgba(0,0,0,0.3);\n    letter-spacing:1px; text-align:center;\n}\n        </style>\n       \n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>Please Enter password</h1>\n        <form action=\"/auth\" method=\"post\">\n            <div id=\"email\">Email: {{payload.email}}</div><br>\n            <input type=\"password\" name=\"pwd\" placeholder=\"Password\" required=\"required\" />\n            <div id=\"passerror\">\n                {{payload.error}}\n            </div>\n            <button type=\"submit\" class=\"btn btn-primary btn-block btn-large\">Submit</button>\n        </form>\n    </div>\n    </body>\n</html>","output":"str","x":620,"y":240,"wires":[["eb0588c5.b0f798"]]},{"id":"c22fc8df.73c638","type":"http in","z":"739076b6.87f4c8","name":"","url":"/auth","method":"post","upload":false,"swaggerDoc":"","x":80,"y":300,"wires":[["5ee732c9.4baf6c"]]},{"id":"5ee732c9.4baf6c","type":"function","z":"739076b6.87f4c8","name":"","func":"var pass=global.get(\"pass\");\nif(msg.payload.pwd==pass){\n    msg.payload=true;\n}\nelse{\n    msg.payload=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["a27a0058.f2202"]]},{"id":"87ae681d.690de8","type":"function","z":"739076b6.87f4c8","name":"","func":"global.set(\"pass\",msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[[]]},{"id":"a27a0058.f2202","type":"switch","z":"739076b6.87f4c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":300,"wires":[["e4e52bf7.f41088"],["f54c2596.1ed018"]]},{"id":"f54c2596.1ed018","type":"http request","z":"739076b6.87f4c8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://node-red-ejnws.eu-gb.mybluemix.net/test","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":320,"wires":[["8fd5e653.0ee6e8"]]},{"id":"8fd5e653.0ee6e8","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":690,"y":320,"wires":[]},{"id":"32bd537b.28337c","type":"http in","z":"739076b6.87f4c8","name":"","url":"/auth","method":"get","upload":false,"swaggerDoc":"","x":80,"y":240,"wires":[["e61061f9.32bfd"]]},{"id":"15170ccd.06bf83","type":"http request","z":"739076b6.87f4c8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://node-red-ejnws.eu-gb.mybluemix.net/auth","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":180,"wires":[["b6ecaf27.10cde"]]},{"id":"b6ecaf27.10cde","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":930,"y":200,"wires":[]},{"id":"e4e52bf7.f41088","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"error\":\"Invalid password\",\n    \"email\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["8cd1b85c.7b9688"]]},{"id":"a63144f1.96a548","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":820,"wires":[["e1b65998.568338"]]},{"id":"e1b65998.568338","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":870,"y":860,"wires":[["b28992a6.2c838"]]},{"id":"35a03782.2d47c8","type":"http in","z":"739076b6.87f4c8","name":"","url":"/end","method":"post","upload":false,"swaggerDoc":"","x":60,"y":520,"wires":[["ca70c49d.5e7298"]]},{"id":"12272906.bd52b7","type":"template","z":"739076b6.87f4c8","name":"Test Ended","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #000000 0%,rgba(11, 0, 0, 0.4) 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>You have ended the test</h1>\n    </div>\n    </body>\n</html>","output":"str","x":830,"y":540,"wires":[["193c307e.5d3e4"]]},{"id":"193c307e.5d3e4","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":870,"y":500,"wires":[]},{"id":"ca70c49d.5e7298","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":540,"wires":[["e51f831e.ec8ce"]]},{"id":"e601d8c8.afc568","type":"function","z":"739076b6.87f4c8","name":"","func":"msg.payload={\n    \"_id\":msg.payload._id,\n    \"_rev\":msg.payload._rev,\n    \"first_name\":msg.payload.first_name,\n    \"last_name\":msg.payload.last_name,\n    \"gender\":msg.payload.gender,\n    \"password\":msg.payload.password,\n    \"address\":msg.payload.address,\n    \"street\":msg.payload.street,\n    \"pin\":msg.payload.pin,\n    \"city\":msg.payload.city,\n    \"code\":msg.payload.code,\n    \"phone\":msg.payload.phone,\n    \"your_email\":msg.payload.your_email,\n    \"checkbox\":msg.payload.checkbox,\n    \"register\":msg.payload.register,\n    \"res\":msg.payload.res,\n    \"prevq\":msg.payload.prevq,\n    \"ended\":true\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["a3dc7c0d.300ef"]]},{"id":"a3dc7c0d.300ef","type":"cloudant out","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","payonly":true,"operation":"insert","x":530,"y":540,"wires":[]},{"id":"3aa4b42b.1249dc","type":"function","z":"739076b6.87f4c8","name":"","func":"msg.payload=\"\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["12272906.bd52b7"]]},{"id":"2cd01d8e.506e42","type":"function","z":"739076b6.87f4c8","name":"","func":"msg.payload=msg.payload.ended;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["79ff4180.a0d41"]]},{"id":"79ff4180.a0d41","type":"switch","z":"739076b6.87f4c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":460,"wires":[["5d2c535.e0112ac"],["12272906.bd52b7"]]},{"id":"5d2c535.e0112ac","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["19609381.4cd65c"]]},{"id":"19609381.4cd65c","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":730,"y":440,"wires":[["6f4c1ae8.8d37f4"]]},{"id":"6f4c1ae8.8d37f4","type":"function","z":"739076b6.87f4c8","name":"","func":"msg.payload=msg.payload.prevq;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["567ff523.885a7c"]]},{"id":"ad1087a5.249938","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":620,"wires":[]},{"id":"10c87896.462cc7","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":780,"wires":[["ce86bfe7.5184b"]]},{"id":"ce86bfe7.5184b","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":330,"y":780,"wires":[["4e889922.3dd9e8"]]},{"id":"4e889922.3dd9e8","type":"function","z":"739076b6.87f4c8","name":"","func":"msg.payload=msg.payload.ended;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":840,"wires":[["4341f587.5be4ac"]]},{"id":"4341f587.5be4ac","type":"switch","z":"739076b6.87f4c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":840,"wires":[["12272906.bd52b7"],["93f1c977.c9ed68"]]},{"id":"84fca295.34778","type":"function","z":"739076b6.87f4c8","name":"","func":"global.set(\"input\",msg.payload.input);\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":920,"wires":[[]]},{"id":"e61061f9.32bfd","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"email\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["8cd1b85c.7b9688"]]},{"id":"cccda10c.3dbf9","type":"watson-personality-insights-v3","z":"739076b6.87f4c8","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":false,"service-endpoint":"","x":270,"y":700,"wires":[["64ff2458.53e00c","3067c9c5.6f8f26"]]},{"id":"1fed8b4.a64ee75","type":"inject","z":"739076b6.87f4c8","name":"","topic":"","payload":"Well, thank you very much, Jim, for this opportunity. I want to thank Governor Romney and the University of Denver for your hospitality.  There are a lot of points I want to make tonight, but the most important one is that 20 years ago I became the luckiest man on Earth because Michelle Obama agreed to marry me.  And so I just want to wish, Sweetie, you happy anniversary and let you know that a year from now we will not be celebrating it in front of 40 million people.  You know, four years ago we went through the worst financial crisis since the Great Depression. Millions of jobs were lost, the auto industry was on the brink of collapse. The financial system had frozen up.  And because of the resilience and the determination of the American people, we've begun to fight our way back. Over the last 30 months, we've seen 5 million jobs in the private sector created. The auto industry has come roaring back. And housing has begun to rise.  But we all know that we've still got a lot of work to do. And so the question here tonight is not where we've been, but where we're going.  Governor Romney has a perspective that says if we cut taxes, skewed towards the wealthy, and roll back regulations, that we'll be better off. I've got a different view.  I think we've got to invest in education and training. I think it's important for us to develop new sources of energy here in America, that we change our tax code to make sure that we're helping small businesses and companies that are investing here in the United States, that we take some of the money that we're saving as we wind down two wars to rebuild America and that we reduce our deficit in a balanced way that allows us to make these critical investments.  Now, it ultimately is going to be up to the voters  to you  which path we should take. Are we going to double on top-down economic policies that helped to get us into this mess or do we embrace a new economic patriotism that says America does best when the middle class does best? And I'm looking forward to having that debate.  Well, let me talk specifically about what I think we need to do. First, we've got to improve our education system and we've made enormous progress drawing on ideas both from Democrats and Republicans that are already starting to show gains in some of the toughest to deal with schools. We've got a program called Race to the Top that has prompted reforms in 46 states around the country, raising standards, improving how we train teachers.  So now I want to hire another 100,000 new math and science teachers, and create 2 million more slots in our community colleges so that people can get trained for the jobs that are out there right now. And I want to make sure that we keep tuition low for our young people.  When it comes to our tax code, Governor Romney and I both agree that our corporate tax rate is too high, so I want to lower it, particularly for manufacturing, taking it down to 25 percent. But I also want to close those loopholes that are giving incentives for companies that are shipping jobs overseas. I want to provide tax breaks for companies that are investing here in the United States.  On energy, Governor Romney and I, we both agree that we've got to boost American energy production, and oil and natural gas production are higher than they've been in years. But I also  believe that we've got to look at the energy sources of the future, like wind and solar and biofuels, and make those investments.  So all of this is possible. Now, in order for us to do it, we do have to close our deficit, and one of the things I'm sure we'll be discussing tonight is, how do we deal with our tax code? And how do we make sure that we are reducing spending in a responsible way, but also, how do we have enough revenue to make those investments?  And this is where there's a difference, because Governor Romney's central economic plan calls for a $5 trillion tax cut  on top of the extension of the Bush tax cuts  that's another trillion dollars  and $2 trillion in additional military spending that the military hasn't asked for. That's $8 trillion. How we pay for that, reduce the deficit, and make the investments that we need to make, without dumping those costs onto middle-class Americans, I think is one of the central questions of this campaign.  When you add up all the loopholes and deductions that upper-income individuals can  are currently taking advantage of, you take those all away, you don't come close to paying for $5 trillion in tax cuts and $2 trillion in additional military spending.  OBAMA: And that's why independent studies looking at this said the only way to meet Governor Romney's pledge of not reducing the deficit or -- or  or not adding to the deficit is by burdening middle-class families. The average middle-class family with children would pay about $2,000 more.  Now, that's not my analysis. That's the analysis of economists who have looked at this. And  and that kind of top  top-down economics, where folks at the top are doing well, so the average person making $3 million is getting a $250,000 tax break, while middle-class families are burdened further, that's not what I believe is a recipe for economic growth.  Well, for 18 months he's been running on this tax plan. And now, five weeks before the election, he's saying that his big, bold idea is, \"Never mind.\"  And the fact is that if you are lowering the rates the way you described, Governor, then it is not possible to come up with enough deductions and loopholes that only affect high-income individuals to avoid either raising the deficit or burdening the middle class. It's  it's math. It's arithmetic.  Now, Governor Romney and I do share a deep interest in encouraging small-business growth. So at the same time that my tax plan has already lowered taxes for 98 percent of families, I also lowered taxes for small businesses 18 times. And what I want to do is continue the tax rates  the tax cuts that we put into place for small businesses and families.  But I have said that for incomes over $250,000 a year, that we should go back to the rates that we had when Bill Clinton was president, when we created 23 million new jobs, went from deficit to surplus, and created a whole lot of millionaires to boot.  And the reason this is important is because by doing that, we cannot only reduce the deficit, we cannot only encourage job growth through small businesses, but we're also able to make the investments that are necessary in education or in energy.  And we do have a difference, though, when it comes to definitions of small business. Under  under my plan, 97 percent of small businesses would not see their income taxes go up. Governor Romney says, well, those top 3 percent, they're the job creators, they'd be burdened.  But under Governor Romney's definition, there are a whole bunch of millionaires and billionaires who are small businesses. Donald Trump is a small business. Now, I know Donald Trump doesn't like to think of himself as small anything, but  but that's how you define small businesses if you're getting business income.  And that kind of approach, I believe, will not grow our economy, because the only way to pay for it without either burdening the middle class or blowing up our deficit is to make drastic cuts in things like education, making sure that we are continuing to invest in basic science and research, all the things that are helping America grow. And I think that would be a mistake.  Jim, I  you may want to move onto another topic, but I  I would just say this to the American people. If you believe that we can cut taxes by $5 trillion and add $2 trillion in additional spending that the military is not asking for, $7 trillion  just to give you a sense, over 10 years, that's more than our entire defense budget  and you think that by closing loopholes and deductions for the well-to-do, somehow you will not end up picking up the tab, then Governor Romney's plan may work for you.  But I think math, common sense, and our history shows us that's not a recipe for job growth. Look, we've tried this. We've tried both approaches. The approach that Governor Romney's talking about is the same sales pitch that was made in 2001 and 2003, and we ended up with the slowest job growth in 50 years, we ended up moving from surplus to deficits, and it all culminated in the worst financial crisis since the Great Depression.  Bill Clinton tried the approach that I'm talking about. We created 23 million new jobs. We went from deficit to surplus. And businesses did very well. So, in some ways, we've got some data on which approach is more likely to create jobs and opportunity for Americans and I believe that the economy works best when middle-class families are getting tax breaks so that they've got some money in their pockets, and those of us who have done extraordinarily well because of this magnificent country that we live in, that we can afford to do a little bit more to make sure we're not blowing up the deficit.  I like it.  When I walked into the Oval Office, I had more than a trillion-dollar deficit greeting me. And we know where it came from: two wars that were paid for on a credit card; two tax cuts that were not paid for; and a whole bunch of programs that were not paid for; and then a massive economic crisis.  And despite that, what we've said is, yes, we had to take some initial emergency measures to make sure we didn't slip into a Great Depression, but what we've also said is, let's make sure that we are cutting out those things that are not helping us grow.  So 77 government programs, everything from aircrafts that the Air Force had ordered but weren't working very well, 1 8 government 18 government programs for education that were well- intentioned, not weren't helping kids learn, we went after medical fraud in Medicare and Medicaid very aggressively, more aggressively than ever before, and have saved tens of billions of dollars, $50 billion of waste taken out of the system.  And I worked with Democrats and Republicans to cut a trillion dollars out of our discretionary domestic budget. That's the largest cut in the discretionary domestic budget since Dwight Eisenhower.  Now, we all know that we've got to do more. And so I've put forward a specific $4 trillion deficit reduction plan. It's on a website. You can look at all the numbers, what cuts we make and what revenue we raise.  And the way we do it is $2.50 for every cut, we ask for $1 of additional revenue, paid for, as I indicated earlier, by asking those of us who have done very well in this country to contribute a little bit more to reduce the deficit. Governor Romney earlier mentioned the Bowles-Simpson commission. Well, that's how the commission  bipartisan commission that talked about how we should move forward suggested we have to do it, in a balanced way with some revenue and some spending cuts. And this is a major difference that Governor Romney and I have.  Let  let me just finish their point, because you're looking for contrast. You know, when Governor Romney stood on a stage with other Republican candidates for the nomination and he was asked, would you take $10 of spending cuts for just $1 of revenue? And he said no.  Now, if you take such an unbalanced approach, then that means you are going to be gutting our investments in schools and education. It means that Governor Romney...  ... talked about Medicaid and how we could send it back to the states, but effectively this means a 30 percent cut in the primary program we help for seniors who are in nursing homes, for kids who are with disabilities.  And  and that is not a right strategy for us to move forward.  Sorry.  That's what we've done, made some adjustments to it, and we're putting it forward before Congress right now, a $4 trillion plan...  Well, we've had this discussion before.  There has to be revenue in addition to cuts. Now, Governor Romney has ruled out revenue. He's ruled out revenue.  If  if we're serious, we've got to take a balanced, responsible approach. And by the way, this is not just when it comes to individual taxes. Let's talk about corporate taxes.  Now, I've identified areas where we can, right away, make a change that I believe would actually help the economy.  The oil industry gets $4 billion a year in corporate welfare. Basically, they get deductions that those small businesses that Governor Romney refers to, they don't get.  Now, does anybody think that ExxonMobil needs some extra money, when they're making money every time you go to the pump? Why wouldn't we want to eliminate that? Why wouldn't we eliminate tax breaks for corporate jets? My attitude is, if you got a corporate jet, you can probably afford to pay full freight, not get a special break for it.  When it comes to corporate taxes, Governor Romney has said he wants to, in a revenue neutral way, close loopholes, deductions  he hasn't identified which ones they are -- but that thereby bring down the corporate rate.  Well, I want to do the same thing, but I've actually identified how we can do that. And part of the way to do it is to not give tax breaks to companies that are shipping jobs overseas.  Right now, you can actually take a deduction for moving a plant overseas. I think most Americans would say that doesn't make sense. And all that raises revenue.  And so if we take a balanced approach, what that then allows us to do is also to help young people, the way we already have during my administration, make sure that they can afford to go to college.  It means that the teacher that I met in Las Vegas, a wonderful young lady, who describes to me  she's got 42 kids in her class. The first two weeks she's got them, some of them sitting on the floor until finally they get reassigned. They're using text books that are 10 years old.  That is not a recipe for growth. That's not how America was built. And so budgets reflect choices.  Ultimately, we're going to have to make some decisions. And if we're asking for no revenue, then that means that we've got to get rid of a whole bunch of stuff.  And the magnitude of the tax cuts that you're talking about, Governor, would end up resulting in severe hardship for people, but more importantly, would not help us grow.  As I indicated before, when you talk about shifting Medicaid to states, we're talking about potentially a 30  a 30 percent cut in Medicaid over time.  Now, you know, that may not seem like a big deal when it just is, you know, numbers on a sheet of paper, but if we're talking about a family who's got an autistic kid and is depending on that Medicaid, that's a big problem.  And governors are creative. There's no doubt about it. But they're not creative enough to make up for 30 percent of revenue on something like Medicaid. What ends up happening is some people end up not getting help.  It's time to end it.  OK.  You know, I suspect that, on Social Security, we've got a somewhat similar position. Social Security is structurally sound. It's going to have to be tweaked the way it was by Ronald Reagan and Speaker  Democratic Speaker Tip O'Neill. But it is  the basic structure is sound.  But  but I want to talk about the values behind Social Security and Medicare, and then talk about Medicare, because that's the big driver of our deficits right now.  You know, my grandmother  some of you know  helped to raise me. My grandparents did. My grandfather died a while back. My grandmother died three days before I was elected president. And she was fiercely independent. She worked her way up, only had a high school education, started as a secretary, ended up being the vice president of a local bank. And she ended up living alone by choice.  And the reason she could be independent was because of Social Security and Medicare. She had worked all her life, put in this money, and understood that there was a basic guarantee, a floor under which she could not go.  And that's the perspective I bring when I think about what's called entitlements. You know, the name itself implies some sense of dependency on the part of these folks. These are folks who've worked hard, like my grandmother, and there are millions of people out there who are counting on this.  So my approach is to say, how do we strengthen the system over the long term? And in Medicare, what we did was we said, we are going to have to bring down the costs if we're going to deal with our long-term deficits, but to do that, let's look where some of the money's going.  $716 billion we were able to save from the Medicare program by no longer overpaying insurance companies by making sure that we weren't overpaying providers. And using that money, we were actually able to lower prescription drug costs for seniors by an average of $600, and we were also able to make a -- make a significant dent in providing them the kind of preventive care that will ultimately save money through the  throughout the system.  So the way for us to deal with Medicare in particular is to lower health care costs. When it comes to Social Security, as I said, you don't need a major structural change in order to make sure that Social Security is there for the future.  First of all, I think it's important for Governor Romney to present this plan that he says will only affect folks in the future.  And the essence of the plan is that you would turn Medicare into a voucher program. It's called premium support, but it's understood to be a voucher program. His running mate...  I don't. And let me explain why.  I understand.  For  so if you're  if you're 54 or 55, you might want to listen 'cause this - - this will affect you.  The idea, which was originally presented by Congressman Ryan, your running mate, is that we would give a voucher to seniors and they could go out in the private marketplace and buy their own health insurance.  The problem is that because the voucher wouldn't necessarily keep up with health care inflation, it was estimated that this would cost the average senior about $6,000 a year.  Now, in fairness, what Governor Romney has now said is he'll maintain traditional Medicare alongside it. But there's still a problem, because what happens is, those insurance companies are pretty clever at figuring out who are the younger and healthier seniors. They recruit them, leaving the older, sicker seniors in Medicare. And every health care economist that looks at it says, over time, what'll happen is the traditional Medicare system will collapse.  And then what you've got is folks like my grandmother at the mercy of the private insurance system precisely at the time when they are most in need of decent health care.  So, I don't think vouchers are the right way to go. And this is not my own  only my opinion. AARP thinks that the  the savings that we obtained from Medicare bolster the system, lengthen the Medicare trust fund by eight years. Benefits were not affected at all. And ironically, if you repeal Obamacare, and I have become fond of this term, \"Obamacare,\" if you repeal it, what happens is those seniors right away are going to be paying $600 more in prescription care. They're now going to have to be paying copays for basic checkups that can keep them healthier.  And the primary beneficiary of that repeal are insurance companies that are estimated to gain billions of dollars back when they aren't making seniors any healthier. And I don't think that's the right approach when it comes to making sure that Medicare is stronger over the long term.  Jim, if I  if I can just respond very quickly, first of all, every study has shown that Medicare has lower administrative costs than private insurance does, which is why seniors are generally pretty happy with it.  And private insurers have to make a profit. Nothing wrong with that. That's what they do. And so you've got higher administrative costs, plus profit on top of that. And if you are going to save any money through what Governor Romney's proposing, what has to happen is, is that the money has to come from somewhere.  And when you move to a voucher system, you are putting seniors at the mercy of those insurance companies. And over time, if traditional Medicare has decayed or fallen apart, then they're stuck.  And this is the reason why AARP has said that your plan would weaken Medicare substantially. And that's why they were supportive of the approach that we took.  One last point I want to make. We do have to lower the cost of health care, not just in Medicare and Medicaid...  ... but - but -- but overall.  And so...  Is that a  is that a separate topic?  I'm sorry.  Absolutely.  I think this is a great example. The reason we have been in such a enormous economic crisis was prompted by reckless behavior across the board.  Now, it wasn't just on Wall Street. You had loan officers were  that were giving loans and mortgages that really shouldn't have been given, because the folks didn't qualify. You had people who were borrowing money to buy a house that they couldn't afford. You had credit agencies that were stamping these as Al great investments when they weren't.  But you also had banks making money hand over fist, churning out products that the bankers themselves didn't even understand, in order to make big profits, but knowing that it made the entire system vulnerable.  So what did we do? We stepped in and had the toughest reforms on Wall Street since the 1930s. We said you've got  banks, you've got to raise your capital requirements. You can't engage in some of this risky behavior that is putting Main Street at risk. We've going to make sure that you've got to have a living will so  so we can know how you're going to wind things down if you make a bad bet so we don't have other taxpayer bailouts.  In the meantime, by the way, we also made sure that all the help that we provided those banks was paid back every single dime, with interest.  Now, Governor Romney has said he wants to repeal Dodd-Frank.  And, you know, I appreciate and it appears we've got some agreement that a marketplace to work has to have some regulation. But in the past, Governor Romney has said he just want to repeal Dodd- Frank, roll it back.  And so the question is: Does anybody out there think that the big problem we had is that there was too much oversight and regulation of Wall Street? Because if you do, then Governor Romney is your candidate. But that's not what I believe.  Well, four years ago, when I was running for office, I was traveling around and having those same conversations that Governor Romney talks about. And it wasn't just that small businesses were seeing costs skyrocket and they couldn't get affordable coverage even if they wanted to provide it to their employees. It wasn't just that this was the biggest driver of our federal deficit, our overall health care costs, but it was families who were worried about going bankrupt if they got sick, millions of families, all across the country.  If they had a pre-existing condition, they might not be able to get coverage at all. If they did have coverage, insurance companies might impose an arbitrary limit. And so as a consequence, they're paying their premiums, somebody gets really sick, lo and behold, they don't have enough money to pay the bills, because the insurance companies say that they've hit the limit.  So we did work on this, alongside working on jobs, because this is part of making sure that middle-class families are secure in this country.  And let me tell you exactly what Obamacare did. Number one, if you've got health insurance, it doesn't mean a government takeover. You keep your own insurance. You keep your own doctor. But it does say insurance companies can't jerk you around. They can't impose arbitrary lifetime limits. They have to let you keep your kid on their insurance  your insurance plan until you're 26 years old. And it also says that you're going to have to get rebates if insurance companies are spending more on administrative costs and profits than they are on actual care.  Number two, if you don't have health insurance, we're essentially setting up a group plan that allows you to benefit from group rates that are typically 1 8 percent lower than if you're out there trying to get insurance on the individual market.  Now, the last point I'd make before...  No, I think  I had five seconds before you interrupted me, was ...  ... the irony is that we've seen this model work really well in Massachusetts, because Governor Romney did a good thing, working with Democrats in the state to set up what is essentially the identical model and as a consequence people are covered there. It hasn't destroyed jobs. And as a  consequence, we now have a system in which we have the opportunity to start bringing down costs, as opposed to just leaving millions of people out in the cold.  Governor Romney said this has to be done on a bipartisan basis. This was a bipartisan idea. In fact, it was a Republican idea. And Governor Romney at the beginning of this debate wrote and said what we did in Massachusetts could be a model for the nation.  And I agree that the Democratic legislators in Massachusetts might have given some advice to Republicans in Congress about how to cooperate, but the fact of the matter is, we used the same advisers, and they say it's the same plan.  It  when Governor Romney talks about this board, for example, unelected board that we've created, what this is, is a group of health care experts, doctors, et cetera, to figure out, how can we reduce the cost of care in the system overall?  Because there  there are two ways of dealing with our health care crisis. One is to simply leave a whole bunch of people uninsured and let them fend for themselves, to let businesses figure out how long they can continue to pay premiums until finally they just give up, and their workers are no longer getting insured, and that's been the trend line.  Or, alternatively, we can figure out, how do we make the cost of care more effective? And there are ways of doing it.  So at Cleveland Clinic, one of the best health care systems in the world, they actually provide great care cheaper than average. And the reason they do is because they do some smart things. They  they say, if a patient's coming in, let's get all the doctors together at once, do one test instead of having the patient run around with 10 tests. Let's make sure that we're providing preventive care so we're catching the onset of something like diabetes. Let's  let's pay providers on the basis of performance as opposed to on the basis of how many procedures they've  they've engaged in.  Now, so what this board does is basically identifies best practices and says, let's use the purchasing power of Medicare and Medicaid to help to institutionalize all these good things that we do.  And the fact of the matter is that, when Obamacare is fully implemented, we're going to be in a position to show that costs are going down. And over the last two years, health care premiums have gone up  it's true  but they've gone up slower than any time in the last 50 years. So we're already beginning to see progress. In the meantime, folks out there with insurance, you're already getting a rebate.  Let me make one last point. Governor Romney says, we should replace it, I'm just going to repeal it, but  but we can replace it with something. But the problem is, he hasn't described what exactly we'd replace it with, other than saying we're going to leave it to the states.  But the fact of the matter is that some of the prescriptions that he's offered, like letting you buy insurance across state lines, there's no indication that that somehow is going to help somebody who's got a pre-existing condition be able to finally buy insurance. In fact, it's estimated that by repealing Obamacare, you're looking at 50 million people losing health insurance...  ... at a time when it's vitally important.  Let me just point out first of all this board that we're talking about can't make decisions about what treatments are given. That's explicitly prohibited in the law. But let's go back to what Governor Romney indicated, that under his plan, he would be able to cover people with preexisting conditions.  Well, actually Governor, that isn't what your plan does. What your plan does is to duplicate what's already the law, which says if you are out of health insurance for three months, then you can end up getting continuous coverage and an insurance company can't deny you if you've  if it's been under 90 days.  But that's already the law and that doesn't help the millions of people out there with preexisting conditions. There's a reason why Governor Romney set up the plan that he did in Massachusetts. It wasn't a government takeover of health care. It was the largest expansion of private insurance. But what it does say is that \"insurers, you've got to take everybody.\"  Now, that also means that you've got more customers. But when  when Governor Romney says that he'll replace it with something, but can't detail how it will be in fact replaced and the reason he set up the system he did in Massachusetts was because there isn't a better way of dealing with the preexisting conditions problem.  It just reminds me of, you know, he says that he's going to close deductions and loopholes for his tax plan. That's how it's going to be paid for, but we don't know the details. He says that he's going to replace Dodd-Frank, Wall Street reform, but we don't know exactly which ones. He won't tell us. He now says he's going to replace Obamacare and ensure that all the good things that are in it are going to be in there and you don't have to worry.  And at some point, I think the American people have to ask themselves, is the reason that Governor Romney is keeping all these plans to replace secret because they're too good? Is it  is it because that somehow middle-class families are going to benefit too much from them?  No. The reason is, is because, when we reform Wall Street, when we tackle the problem of pre- existing conditions, then, you know, these are tough problems and we've got to make choices. And the choices we've made have been ones that ultimately are benefiting middle-class families all across the country.  Well, I definitely think there are differences.  The first role of the federal government is to keep the American people safe. That's its most basic function. And as commander-in-chief, that is something that I've worked on and thought about every single day that I've been in the Oval Office.  But I also believe that government has the capacity, the federal government has the capacity to help open up opportunity and create ladders of opportunity and to create frameworks where the American people can succeed.  Look, the genius of America is the free enterprise system and freedom and the fact that people can go out there and start a business, work on an idea, make their own decisions.  But as Abraham Lincoln understood, there are also some things we do better together. So, in the middle of the Civil War, Abraham Lincoln said, let's help to finance the Transcontinental Railroad, let's start the National Academy of Sciences, let's start land grant colleges, because we want to give these gateways of opportunity for all Americans, because if all Americans are  getting opportunity, we're all going to be better off. That doesn't restrict people's freedom. That enhances it.  And so what I've tried to do as president is to apply those same principles.  And when it comes to education what I've said is we've got to reform schools that are not working. We use something called Race to the Top. Wasn't a top-down approach, Governor. What we've said is to states, we'll give you more money if you initiate reforms. And as a consequence, you had 46 states around the country who have made a real difference.  But what I've also said is let's hire another 100,000 math and science teachers to make sure we maintain our technological lead and our people are skilled and able to succeed. And hard-pressed states right now can't all do that. In fact we've seen layoffs of hundreds of thousands of teachers over the last several years, and Governor Romney doesn't think we need more teachers. I do, because I think that that is the kind of investment where the federal government can help.  It can't do it all, but it can make a difference. And as a consequence we'll have a better trained workforce and that will create jobs because companies want to locate in places where we've got a skilled workforce. Well, as I've indicated, I think that it has a significant role to play. Through our Race to the Top program, we've worked with Republican and Democratic governors to initiate major reforms, and they're having an impact right now.  You know, this is where budgets matter, because budgets reflect choices. So when Governor Romney indicates that he wants to cut taxes and potentially benefit folks like me and him, and to pay for it we're having to initiate significant cuts in federal support for education, that makes a difference.  You know, his  his running mate, Congressman Ryan, put forward a budget that reflects many of the principles that Governor Romney's talked about. And it wasn't very detailed. This seems to be a trend. But  but what it did do is to  if you extrapolated how much money we're talking about, you'd look at cutting the education budget by up to 20 percent.  When it comes to community colleges, we are seeing great work done out there all over the country because we have the opportunity to train people for jobs that exist right now. And one of the things I suspect Governor Romney and I probably agree on is getting businesses to work with community colleges so that they're setting up their training programs...  Let me just finish the point.  The  where they're partnering so that they're designing training programs. And people who are going through them know that there's a job waiting for them if they complete it. That makes a big difference, but that requires some federal support.  Let me just say one final example. When it comes to making college affordable, whether it's two- year or four-year, one of the things that I did as president was we were sending $60 billion to banks and lenders as middlemen for the student loan program, even though the loans were guaranteed. So there was no risk for the banks or the lenders, but they were taking billions out of the system.  And we said, \"Why not cut out the middleman?\" And as a consequence, what we've been able to do is to provide millions more students assistance, lower or keep low interest rates on student loans. And this is an example of where our priorities make a difference.  Governor Romney, I genuinely believe cares about education, but when he tells a student that, you know, \"you should borrow money from your parents to go to college,\" you know, that indicates the degree to which, you know, there may not be as much of a focus on the fact that folks like myself, folks like Michelle, kids probably who attend University of Denver, just don't have that option.  And for us to be able to make sure that they've got that opportunity and they can walk through that door, that is vitally important not just to those kids. It's how we're going to grow this economy over the long term.  You've done a great job.  Well, first of all, I think Governor Romney's going to have a busy first day, because he's also going to repeal Obamacare, which will not be very popular among Democrats as you're sitting down with them.  But, look, my philosophy has been, I will take ideas from anybody, Democrat or Republican, as long as they're advancing the cause of making middle-class families stronger and giving ladders of opportunity to the middle class. That's how we cut taxes for middle- class families and small businesses. That's how we cut a trillion dollars of spending that wasn't advancing that cause. That's how we signed three trade deals into law that are helping us to double our exports and sell more American products around the world. That's how we repealed \"don't ask/don't tell.\" That's how we ended the war in Iraq, as I promised, and that's how we're going to wind down the war in Afghanistan. That's how we went after Al Qaida and bin Laden.  So we've  we've seen progress even under Republican control of the House of Representatives. But, ultimately, part of being principled, part of being a leader is, A, being able to describe  exactly what it is that you intend to do, not just saying, \"I'll sit down,\" but you have to have a plan.  Number two, what's important is occasionally you've got to say no, to  to  to folks both in your own party and in the other party. And, you know, yes, have we had some fights between me and the Republicans when  when they fought back against us reining in the excesses of Wall Street? Absolutely, because that was a fight that needed to be had.  When  when we were fighting about whether or not we were going to make sure that Americans had more security with their health insurance and they said no, yes, that was a fight that we needed to have.  And so part of leadership and governing is both saying what it is that you are for, but also being willing to say no to some things. And I've got to tell you, Governor Romney, when it comes to his own party during the course of this campaign, has not displayed that willingness to say no to some of the more extreme parts of his party.  Well, Jim, I want to thank you, and I want to thank Governor Romney, because I think was a terrific debate, and I very much appreciate it. And I want to thank the University of Denver.  You know, four years ago, we were going through a major crisis. And yet my faith and confidence in the American future is undiminished. And the reason is because of its people, because of the woman I met in North Carolina who decided at 55 to go back to school because she wanted to inspire her daughter and now has a job from that new training that she's gotten; because a company in Minnesota who was willing to give up salaries and perks for their executives to make sure that they didn't lay off workers during a recession.  The auto workers that you meet in Toledo or Detroit take such pride in building the best cars in the world, not just because of a paycheck, but because it gives them that sense of pride, that they're helping to build America. And so the question now is how do we build on those strengths. And everything that I've tried to do, and everything that I'm now proposing for the next four years in terms of improving our education system or developing American energy or making sure that we're closing loopholes for companies that are shipping jobs overseas and focusing on small businesses and companies that are creating jobs here in the United States, or closing our deficit in a responsible, balanced way that allows us to invest in our future.  All those things are designed to make sure that the American people, their genius, their grit, their determination, is  is channeled and  and they have an opportunity to succeed. And everybody's getting a fair shot. And everybody's getting a fair share  everybody's doing a fair share, and everybody's playing by the same rules.  You know, four years ago, I said that I'm not a perfect man and I wouldn't be a perfect president. And that's probably a promise that Governor Romney thinks I've kept. But I also promised that I'd fight every single day on behalf of the American people, the middle class, and all those who were striving to get into the middle class. I've kept that promise and if you'll vote for me, then I promise I'll fight just as hard in a second term.","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["cccda10c.3dbf9"]]},{"id":"64ff2458.53e00c","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"insights","targetType":"msg","x":490,"y":680,"wires":[]},{"id":"e51f831e.ec8ce","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":270,"y":580,"wires":[["e601d8c8.afc568","3aa4b42b.1249dc","ad1087a5.249938","aaa9fd32.f201f"]]},{"id":"58bf1afe.b93f44","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":370,"y":140,"wires":[["87ae681d.690de8","6df20ec0.ebfb9","62bdbecb.aa624"]]},{"id":"aaa9fd32.f201f","type":"function","z":"739076b6.87f4c8","name":"","func":"msg.payload=msg.payload.res;\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":660,"wires":[["cccda10c.3dbf9"]]},{"id":"20e25bab.20e5b4","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":100,"wires":[]},{"id":"62bdbecb.aa624","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":200,"wires":[]},{"id":"f25f21e7.b207c","type":"http request","z":"739076b6.87f4c8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://node-red-ejnws.eu-gb.mybluemix.net/register","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":120,"wires":[["c9256a7a.9b8698"]]},{"id":"64bb541b.f35f2c","type":"cloudant out","z":"739076b6.87f4c8","name":"","cloudant":"","database":"results","service":"node-red-ejnws-cloudant-1591754475643-93587","payonly":true,"operation":"insert","x":610,"y":740,"wires":[]},{"id":"3067c9c5.6f8f26","type":"function","z":"739076b6.87f4c8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":740,"wires":[["64bb541b.f35f2c"]]}]
