Node Red Project UI flow.json
[{"id":"739076b6.87f4c8","type":"tab","label":"Project flow","disabled":false,"info":""},{"id":"8c5baf7b.b2b5e","type":"cloudantplus in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":390,"y":140,"wires":[["6df20ec0.ebfb9"]]},{"id":"818551a7.619be","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":280,"wires":[]},{"id":"6df20ec0.ebfb9","type":"switch","z":"739076b6.87f4c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":180,"wires":[["c4c43f9f.64033"],["3439bcf.8bb8644"]]},{"id":"4d269f43.56456","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <h1>EMAIL NOT PRESENT</h1>\n  </body>\n</html>  ","output":"str","x":880,"y":60,"wires":[["3c48ac39.fc12d4"]]},{"id":"3c48ac39.fc12d4","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":60,"wires":[]},{"id":"c1b97561.ed43c8","type":"function","z":"739076b6.87f4c8","name":"","func":"global.set(\"email\",msg.payload.email);\nmsg.payload={\n    \"_id\":msg.payload.email\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["8c5baf7b.b2b5e"]]},{"id":"d6ec7e56.64c7","type":"http in","z":"739076b6.87f4c8","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":100,"y":60,"wires":[["bdfddffa.9248"]]},{"id":"1b8422e.d8ccbdd","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":730,"y":60,"wires":[]},{"id":"887070be.bfde6","type":"http in","z":"739076b6.87f4c8","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["c1b97561.ed43c8","11f2eed2.f79861"]]},{"id":"eb0588c5.b0f798","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":970,"y":220,"wires":[]},{"id":"93f39fe1.78b89","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n  </head>\n  <body>\n    <form action=\"/login\" method=\"post\">\n      <h1>Enter your information below to sign up for our newsletter</h1>\n      <label for=\"email\">Email Address:</label>\n      <input type=\"text\" name=\"email\" />\n      <input type=\"submit\" />\n    </form>\n  </body>\n</html>  ","output":"str","x":160,"y":340,"wires":[[]]},{"id":"11f2eed2.f79861","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":260,"wires":[]},{"id":"512733a6.fadfec","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":460,"wires":[]},{"id":"bdfddffa.9248","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>Check Your Registration Status</h1>\n        <form action=\"/login\" method=\"post\">\n            <input type=\"text\" name=\"email\" placeholder=\"Username\" required=\"required\" />\n            <!input type=\"password\" name=\"p\" placeholder=\"Password\" required=\"required\" />\n            <button type=\"submit\" class=\"btn btn-primary btn-block btn-large\">Let me in.</button>\n        </form>\n    </div>\n    </body>\n</html>","output":"str","x":380,"y":60,"wires":[["1b8422e.d8ccbdd"]]},{"id":"6928470c.7c91d8","type":"template","z":"739076b6.87f4c8","name":"registration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>  \n  <head>\n      <style>\n          @font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');\n    font-weight: 500;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');\n    font-weight: 100;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');\n    font-weight: 200;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');\n    font-weight: 500;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');\n    font-weight: bold;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');\n    font-weight: 200;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');\n    font-weight: bold;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');\n    font-weight: 600;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');\n    font-weight: 300;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');\n    font-weight: 800;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');\n    font-weight: 800;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');\n    font-weight: 600;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');\n    font-weight: normal;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');\n    font-weight: 100;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');\n    font-weight: normal;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');\n    font-weight: 300;\n    font-style: italic;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');\n    font-weight: 900;\n    font-style: normal;\n}\n\n@font-face {\n    font-family: 'Montserrat';\n    src: url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');\n    font-weight: 900;\n    font-style: italic;\n}\n\nbody {\n\tmargin:  0;\n}\n.page-content {\n\twidth: 100%;\n\tmargin:  0 auto;\n\tbackground: #75e2e9;\n\tdisplay: flex;\n\tdisplay: -webkit-flex;\n\tjustify-content: center;\n\t-o-justify-content: center;\n\t-ms-justify-content: center;\n\t-moz-justify-content: center;\n\t-webkit-justify-content: center;\n\talign-items: center;\n\t-o-align-items: center;\n\t-ms-align-items: center;\n\t-moz-align-items: center;\n\t-webkit-align-items: center;\n\tbackground-image: -moz-linear-gradient( 136deg, rgb(149,153,226) 0%, rgb(139,198,236) 100%);\n    background-image: -webkit-linear-gradient( 136deg, rgb(149,153,226) 0%, rgb(139,198,236) 100%);\n    background-image: -ms-linear-gradient( 136deg, rgb(149,153,226) 0%, rgb(139,198,236) 100%);\n}\n.form-v10-content  {\n\tbackground: #fff;\n\twidth: 1100px;\n\tborder-radius: 10px;\n\t-o-border-radius: 10px;\n\t-ms-border-radius: 10px;\n\t-moz-border-radius: 10px;\n\t-webkit-border-radius: 10px;\n\tbox-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\t-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\t-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\t-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\t-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);\n\tmargin: 95px 0;\n\tposition: relative;\n\tfont-family: 'Montserrat', sans-serif;\n}\n.form-v10-content .form-detail {\n\tposition: relative;\n\twidth: 100%;\n\tdisplay: flex;\n\tdisplay: -webkit-flex;\n}\n.form-v10-content .form-detail h2 {\n\tfont-weight: 500;\n\tfont-size: 25px;\n\tmargin-bottom: 34px;\n\tpadding: 33px 50px 0px 60px;\n}\n.form-v10-content .form-detail .form-left {\n\tborder-top-left-radius: 10px;\n\tborder-bottom-left-radius: 10px;\n\twidth: 100%;\n}\n.form-v10-content .form-detail .form-left h2 {\n\tcolor: #2271dd;\n}\n.form-v10-content .form-detail .form-right {\n\twidth: 100%;\n\tbackground: #4835d4;\n\tborder-top-right-radius: 10px;\n\tborder-bottom-right-radius: 10px;\n}\n.form-v10-content .form-detail .form-right h2 {\n\tcolor: #fff;\n}\n.form-v10-content .form-detail .form-group {\n\tdisplay: flex;\n\tdisplay: -webkit-flex;\n}\n.form-v10-content .form-detail .form-row {\n\tposition: relative;\n\tmargin-bottom: 24px;\n\tpadding-left: 60px;\n    padding-right: 50px;\n}\n.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1 {\n\twidth: 50%;\n\tpadding: 0 12px 0 60px;\n}\n.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2 {\n\twidth: 50%;\n\tpadding: 0 50px 0 12px;\n}\n.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3 {\n\twidth: 73%;\n\tpadding: 0 12px 0 60px;\n}\n.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 {\n\twidth: 50%;\n\tpadding: 0 50px 0 12px;\n}\n.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1 {\n\twidth: 50%;\n\tpadding: 0 12px 0 60px;\n}\n.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {\n\twidth: 100%;\n\tpadding: 0 50px 0 12px;\n}\n.form-v10-content .form-detail select,\n.form-v10-content .form-detail input {\n\twidth: 100%;\n    padding: 11.5px 15px 15px 15px;\n    border: 1px solid transparent;\n    background: transparent;\n    appearance: unset;\n    -moz-appearance: unset;\n    -webkit-appearance: unset;\n    -o-appearance: unset;\n    -ms-appearance: unset;\n    outline: none;\n    -moz-outline: none;\n    -webkit-outline: none;\n    -o-outline: none;\n    -ms-outline: none;\n    font-family: 'Montserrat', sans-serif;\n    font-size: 16px;\n    box-sizing: border-box;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    -o-box-sizing: border-box;\n    -ms-box-sizing: border-box;\n}\n.form-v10-content .form-detail select {\n\tbackground: 0 0;\n\tposition: relative;\n\tz-index: 9;\n\tcursor: pointer;\n}\n.form-v10-content .form-detail .form-left select {\n\tcolor: #666;\n}\n.form-v10-content .form-detail .form-right select {\n\tcolor: #f2f2f2;\n}\n.form-v10-content .form-detail .select-btn {\n\tz-index: 0;\n    position: absolute;\n    top: 30%;\n    right: 11.5%;\n    font-size: 18px;\n}\n.form-v10-content .form-detail .form-left .select-btn {\n    color: #666;\n}\n.form-v10-content .form-detail .form-right .select-btn {\n    color: #f2f2f2;\n}\n.form-v10-content .form-detail .form-group .form-row.form-row-4 .select-btn {\n\ttop: 20%;\n\tright: 26%;\n}\n.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {\n\ttop: 20%;\n\tright: 19%;\n}\n.form-v10-content .form-detail .form-left input {\n\tcolor: #000;\n}\n.form-v10-content .form-detail .form-right input {\n\tcolor: #fff;\n}\n.form-v10-content .form-detail .form-left input,\n.form-v10-content .form-detail .form-left select {\n\tborder-bottom: 1px solid #ccc;\n}\n.form-v10-content .form-detail .form-left input:focus,\n.form-v10-content .form-detail .form-left select:focus {\n\tborder-bottom: 1px solid #999;\n}\n.form-v10-content .form-detail .form-right input,\n.form-v10-content .form-detail .form-right select {\n\tborder-bottom: 1px solid;\n\tborder-bottom-color: rgba(255, 255, 255, 0.3);\n}\n.form-v10-content .form-detail .form-right input:focus,\n.form-v10-content .form-detail .form-right select:focus {\n\tborder-bottom: 1px solid #ccc;\n}\n.form-v10-content .form-detail .form-right select option {\n\tbackground: #4835d4;\n}\n.form-v10-content .form-detail .form-checkbox {\n\tmargin-top: 37px;\n\tpadding: 0 50px 0 60px;\n\tposition: relative;\n}\n.form-v10-content .form-detail .form-checkbox input {\n\tposition: absolute;\n    opacity: 0;\n}\n.form-v10-content .form-detail .form-checkbox .checkmark {\n\tposition: absolute;\n    top: 1px;\n    left: 60px;\n    height: 15px;\n    width: 15px;\n    border: 1px solid #e5e5e5;\n    cursor: pointer;\n}\n.form-v10-content .form-detail .form-checkbox .checkmark::after {\n\tcontent: \"\";\n    position: absolute;\n    left: 5px;\n   \ttop: 1px;\n    width: 3px;\n    height: 8px;\n    border: 1px solid #fff;\n    border-width: 0 2px 2px 0;\n    -webkit-transform: rotate(45deg);\n    -ms-transform: rotate(45deg);\n    -o-transform: rotate(45deg);\n    -moz-transform: rotate(45deg);\n    transform: rotate(45deg);\n    display: none;\n}\n.form-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {\n    display: block;\n}\n.form-v10-content .form-detail .form-checkbox p {\n    margin-left: 34px;\n    color: #e5e5e5;\n    font-size: 14px;\n    font-weight: 400;\n}\n.form-v10-content .form-detail .form-checkbox .text {\n\tfont-weight: 400;\n\tcolor: #fff;\n\ttext-decoration: underline;\n}\n.form-v10-content .form-detail .form-right .form-row-last {\n    padding-left: 60px;\n    margin: 44px 0 10px;\n}\n.form-v10-content .form-detail .form-right .register {\n\tbackground: #fff;\n\tborder-radius: 25px;\n\t-o-border-radius: 25px;\n\t-ms-border-radius: 25px;\n\t-moz-border-radius: 25px;\n\t-webkit-border-radius: 25px;\n\tbox-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\t-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\t-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\t-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\t-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);\n\twidth: 180px;\n\tborder: none;\n\tmargin: 6px 0 50px 0px;\n\tcursor: pointer;\n\tcolor: #333;\n\tfont-weight: 700;\n\tfont-size: 15px;\n}\n.form-v10-content .form-detail .form-right .register:hover {\n\tbackground: #ccc;\n}\n.form-v10-content .form-detail .form-right .form-row-last input {\n\tpadding: 12.5px;\n}\n.form-v10-content .form-detail .form-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */\n  color: #666;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-left input::-moz-placeholder { /* Firefox 19+ */\n  color: #666;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-left input:-ms-input-placeholder { /* IE 10+ */\n  color: #666;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-left input:-moz-placeholder { /* Firefox 18- */\n  color: #666;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-right input::-webkit-input-placeholder { /* Chrome/Opera/Safari */\n  color: #f2f2f2;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-right input::-moz-placeholder { /* Firefox 19+ */\n  color: #f2f2f2;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-right input:-ms-input-placeholder { /* IE 10+ */\n  color: #f2f2f2;\n  font-size: 16px;\n}\n.form-v10-content .form-detail .form-right input:-moz-placeholder { /* Firefox 18- */\n  color: #f2f2f2;\n  font-size: 16px;\n}\n\n/* Responsive */\n@media screen and (max-width: 1199px) {\n\t.form-v10-content {\n\t\tmargin:  95px 20px;\n\t}\n}\n@media screen and (max-width: 991px) and (min-width: 768px) {\n\t.form-v10-content .form-detail .form-group {\n\t\tflex-direction:  column;\n\t\t-o-flex-direction:  column;\n\t\t-ms-flex-direction:  column;\n\t\t-moz-flex-direction:  column;\n\t\t-webkit-flex-direction:  column;\n\t}\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {\n\t    width: auto;\n\t    padding: 0 50px 0 60px;\n\t}\n\t.form-v10-content .form-detail .select-btn,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {\n\t\tright: 15%;\n\t}\n\n}\n@media screen and (max-width: 767px) {\n\t.form-v10-content .form-detail {\n\t\tflex-direction:  column;\n\t\t-o-flex-direction:  column;\n\t\t-ms-flex-direction:  column;\n\t\t-moz-flex-direction:  column;\n\t\t-webkit-flex-direction:  column;\n\t}\n\t.form-v10-content .form-detail .form-right {\n\t\tborder-top-right-radius: 0px;\n    \tborder-bottom-left-radius: 10px;\n\t}\n\t.form-v10-content .form-detail .form-left {\n\t\tpadding-bottom: 50px;\n\t}\n}\n@media screen and (max-width: 575px) {\n\t.form-v10-content .form-detail .form-group {\n\t\tflex-direction:  column;\n\t\t-o-flex-direction:  column;\n\t\t-ms-flex-direction:  column;\n\t\t-moz-flex-direction:  column;\n\t\t-webkit-flex-direction:  column;\n\t}\n\t.form-v10-content .form-detail .form-row,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {\n\t    width: auto;\n\t    padding: 0 30px;\n\t}\n\t.form-v10-content .form-detail .select-btn,\n\t.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,\n\t.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {\n\t\tright: 15%;\n\t}\n\t.form-v10-content .form-detail h2 {\n\t    padding: 33px 30px 0px 30px;\n\t}\n\t.form-v10-content .form-detail .form-checkbox {\n\t\tpadding: 0 30px;\n\t}\n\t.form-v10-content .form-detail .form-checkbox .checkmark {\n\t\tleft: 30px;\n\t}\n\t.form-v10-content .form-detail .form-right .form-row-last {\n\t\tpadding-left: 0;\n\t\ttext-align: center;\n\t    margin: 44px 0 30px;\n\t}\n}\n      </style>\n  </head>\n  <body class=\"form-v10\">\n\t<div class=\"page-content\">\n\t\t<div class=\"form-v10-content\">\n\t\t\t<form class=\"form-detail\" action=\"/register\" method=\"post\" id=\"myform\">\n\t\t\t\t<div class=\"form-left\">\n\t\t\t\t\t<h2>General Infomation</h2>\n\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t<div class=\"form-row form-row-1\">\n\t\t\t\t\t\t\t<input type=\"text\" name=\"first_name\" id=\"first_name\" class=\"input-text\" placeholder=\"First Name\" required>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div class=\"form-row form-row-2\">\n\t\t\t\t\t\t\t<input type=\"text\" name=\"last_name\" id=\"last_name\" class=\"input-text\" placeholder=\"Last Name\" required>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<select name=\"gender\">\n\t\t\t\t\t\t    <option value=\"not specified\">Gender</option>\n\t\t\t\t\t\t    <option value=\"male\">Male</option>\n\t\t\t\t\t\t    <option value=\"female\">Female</option>\n\t\t\t\t\t\t    <option value=\"other\">Other</option>\n\t\t\t\t\t\t</select>\n\t\t\t\t\t\t<span class=\"select-btn\">\n\t\t\t\t\t\t  \t<i class=\"zmdi zmdi-chevron-down\"></i>\n\t\t\t\t\t\t</span>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"password\" name=\"password\" class=\"input-text\" placeholder=\"Password\" required>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"form-right\">\n\t\t\t\t\t<h2>Contact Details</h2>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"address\" class=\"street\" id=\"street\" placeholder=\"Residential Address\" required>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"street\" class=\"additional\" id=\"additional\" placeholder=\"Street\" required>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-group\">\n\t\t\t\t\t\t<div class=\"form-row form-row-1\">\n\t\t\t\t\t\t\t<input type=\"text\" name=\"pin\" class=\"zip\" id=\"zip\" placeholder=\"Pin Code\" required>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t\t<div class=\"form-row form-row-2\">\n\t\t\t\t\t\t\t<input type=\"text\" name=\"city\" class=\"street\" placeholder=\"City\" required>\n\t\t\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"code\" class=\"code\" id=\"code\" placeholder=\"Country Code +\" required>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"phone\" class=\"phone\" id=\"phone\" placeholder=\"Phone Number\" required>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row\">\n\t\t\t\t\t\t<input type=\"text\" name=\"your_email\" id=\"your_email\" class=\"input-text\" required pattern=\"[^@]+@[^@]+.[a-zA-Z]{2,6}\" placeholder=\"Your Email\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-checkbox\">\n\t\t\t\t\t\t<label class=\"container\"><p>I do accept the <a href=\"#\" class=\"text\">Terms and Conditions</a> of your site.</p>\n\t\t\t\t\t\t  \t<input type=\"checkbox\" name=\"checkbox\">\n\t\t\t\t\t\t  \t<span class=\"checkmark\"></span>\n\t\t\t\t\t\t</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div class=\"form-row-last\">\n\t\t\t\t\t\t<input type=\"submit\" name=\"register\" class=\"register\" value=\"Register\">\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t</form>\n\t\t</div>\n\t</div>\n</body><!-- This templates was made by Colorlib (https://colorlib.com) -->\n</html>  ","output":"str","x":670,"y":320,"wires":[["e1e2f77c.a491d8"]]},{"id":"3689a5c5.8224da","type":"http in","z":"739076b6.87f4c8","name":"","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":450,"y":320,"wires":[["6928470c.7c91d8","20c0a85b.233648"]]},{"id":"e1e2f77c.a491d8","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":870,"y":320,"wires":[]},{"id":"14814788.c07c18","type":"http in","z":"739076b6.87f4c8","name":"","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":450,"y":380,"wires":[["512733a6.fadfec","c27533c1.69ac4","3b01654f.8b87aa"]]},{"id":"36627586.cd1d1a","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":1110,"y":380,"wires":[]},{"id":"c27533c1.69ac4","type":"template","z":"739076b6.87f4c8","name":"successful registration","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\na\n{\n    color:white;\n}\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>Successfully Registered</h1>\n        <h1><a href=\"https://node-red-ejnws.eu-gb.mybluemix.net/login\">click here</a> to take test.</h1>\n    </div>\n    </body>\n</html>","output":"str","x":820,"y":380,"wires":[["36627586.cd1d1a"]]},{"id":"c9256a7a.9b8698","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":930,"y":140,"wires":[]},{"id":"c4c43f9f.64033","type":"http request","z":"739076b6.87f4c8","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://node-red-ejnws.eu-gb.mybluemix.net/register","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":160,"wires":[["c9256a7a.9b8698"]]},{"id":"20c0a85b.233648","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":260,"wires":[]},{"id":"3439bcf.8bb8644","type":"template","z":"739076b6.87f4c8","name":"Take interview","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>You have already registered. You can proceed</h1>\n        <form action=\"/test\" method=\"get\">\n            <button type=\"submit\" class=\"btn btn-primary btn-block btn-large\" value=\"hi\">Ready for Test</button>\n        </form>\n    </div>\n    </body>\n</html>","output":"str","x":780,"y":220,"wires":[["eb0588c5.b0f798"]]},{"id":"5b9b288a.dddea8","type":"template","z":"739076b6.87f4c8","name":"Test page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 50%;\n    margin: -150px 0 0 -150px;\n    width:300px;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>Test will start soon...</h1>\n    </div>\n    </body>\n</html>","output":"str","x":280,"y":400,"wires":[[]]},{"id":"305fe08c.ef865","type":"http in","z":"739076b6.87f4c8","name":"","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":80,"y":620,"wires":[["8be4ca72.7f7f38","93f1c977.c9ed68"]]},{"id":"ed7eac15.2245e","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":1050,"y":720,"wires":[]},{"id":"9197ff29.f6107","type":"watson-conversation-v1","z":"739076b6.87f4c8","name":"","workspaceid":"f8fe7091-b490-40e8-93eb-53e2128025f3","multiuser":true,"context":true,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b4bc697a-13d1-400a-ae2e-3f2dbc99b7f7","timeout":"","optout-learning":false,"x":440,"y":720,"wires":[["564e9540.76c2ac","a3d15d27.93183"]]},{"id":"564e9540.76c2ac","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":640,"wires":[]},{"id":"b28992a6.2c838","type":"function","z":"739076b6.87f4c8","name":"","func":"var res=global.get(\"res\");\nvar rev=global.get(\"rev\");\nvar email=global.get(\"email\");\nvar prevq=global.get(\"prevq\");\nmsg.payload={\n    \"_id\":email,\n    \"_rev\":rev,\n    \"first_name\":msg.payload.first_name,\n    \"last_name\":msg.payload.last_name,\n    \"gender\":msg.payload.gender,\n    \"password\":msg.payload.password,\n    \"address\":msg.payload.address,\n    \"street\":msg.payload.street,\n    \"pin\":msg.payload.pin,\n    \"city\":msg.payload.city,\n    \"code\":msg.payload.code,\n    \"phone\":msg.payload.phone,\n    \"your_email\":msg.payload.your_email,\n    \"checkbox\":msg.payload.checkbox,\n    \"register\":msg.payload.register,\n    \"res\":res,\n    \"prevq\":prevq\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":800,"wires":[["94d43379.1251e","9a0e26b3.1a0d88"]]},{"id":"9a0e26b3.1a0d88","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":800,"wires":[]},{"id":"94d43379.1251e","type":"cloudant out","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","payonly":true,"operation":"insert","x":990,"y":860,"wires":[]},{"id":"5568aab8.1007b4","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":860,"wires":[["ebcdc654.f6b0d8"]]},{"id":"ebcdc654.f6b0d8","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":410,"y":860,"wires":[["d10ceedf.82adb","d7de7dda.66b18","b28992a6.2c838"]]},{"id":"d10ceedf.82adb","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":920,"wires":[]},{"id":"d7de7dda.66b18","type":"function","z":"739076b6.87f4c8","name":"","func":"global.set(\"rev\",msg.payload._rev)\nglobal.set(\"res\",msg.payload.res+\" \"+global.get(\"input\"));\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":860,"wires":[[]]},{"id":"653f5cc8.7659d4","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 20%;\n    margin: -150px 0 0 -150px;\n    width:75%;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    height: 80px;\n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n\n\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>{{payload}}</h1>\n        <form action=\"/test\" method=\"post\">\n            <input type=\"text\" name=\"input\" placeholder=\"Enter your answer\" required=\"required\" />\n            <!input type=\"password\" name=\"p\" placeholder=\"Password\" required=\"required\" />\n            <button type=\"submit\" class=\"btn btn-primary btn-block btn-large\">Submit</button>\n        </form>\n    </div>\n    </body>\n</html>","output":"str","x":840,"y":720,"wires":[["ed7eac15.2245e"]]},{"id":"8be4ca72.7f7f38","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":600,"wires":[]},{"id":"a3bbf89b.1c76c8","type":"debug","z":"739076b6.87f4c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":640,"wires":[]},{"id":"93f1c977.c9ed68","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nglobal.set(\"input\",msg.payload.input);\nmsg.payload= msg.payload.input;\nmsg.user=email;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":680,"wires":[["a3bbf89b.1c76c8","5568aab8.1007b4","9197ff29.f6107"]]},{"id":"a3d15d27.93183","type":"function","z":"739076b6.87f4c8","name":"","func":"global.set(\"prevq\",msg.payload.output.text);\nmsg.payload=msg.payload.output.text\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["653f5cc8.7659d4"]]},{"id":"64c1a6aa.5d93d8","type":"http in","z":"739076b6.87f4c8","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":100,"y":520,"wires":[["ddd93087.f93ea"]]},{"id":"567ff523.885a7c","type":"template","z":"739076b6.87f4c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <style>\n            @import url(https://fonts.googleapis.com/css?family=Open+Sans);\n.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }\n.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }\n.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }\n.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }\n.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }\n.btn-primary.active { color: rgba(255, 255, 255, 0.75); }\n.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }\n.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }\n.btn-block { width: 100%; display:block; }\n\n* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }\n\nhtml { width: 100%; height:100%; overflow:hidden; }\n\nbody { \n    width: 100%;\n    height:100%;\n    font-family: 'Open Sans', sans-serif;\n    background: #092756;\n    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);\n    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);\n    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );\n}\n.login { \n    position: absolute;\n    top: 50%;\n    left: 20%;\n    margin: -150px 0 0 -150px;\n    width:75%;\n    height:300px;\n}\n.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }\n\ninput { \n    width: 100%; \n    height: 80px;\n    margin-bottom: 10px; \n    background: rgba(0,0,0,0.3);\n    border: none;\n    outline: none;\n    padding: 10px;\n    font-size: 13px;\n    color: #fff;\n    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);\n    border: 1px solid rgba(0,0,0,0.3);\n    border-radius: 4px;\n    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);\n    -webkit-transition: box-shadow .5s ease;\n    -moz-transition: box-shadow .5s ease;\n    -o-transition: box-shadow .5s ease;\n    -ms-transition: box-shadow .5s ease;\n    transition: box-shadow .5s ease;\n}\ninput:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }\n\n\n        </style>\n    </head>\n    <body>\n    <div class=\"login\">\n        <h1>{{payload}}</h1>\n        <form action=\"/test\" method=\"post\">\n            <input type=\"text\" name=\"input\" placeholder=\"Enter your answer\" required=\"required\" />\n            <!input type=\"password\" name=\"p\" placeholder=\"Password\" required=\"required\" />\n            <button type=\"submit\" class=\"btn btn-primary btn-block btn-large\">Submit</button>\n        </form>\n    </div>\n    </body>\n</html>","output":"str","x":760,"y":520,"wires":[["caa443f0.696e2"]]},{"id":"caa443f0.696e2","type":"http response","z":"739076b6.87f4c8","name":"","statusCode":"","headers":{},"x":950,"y":520,"wires":[]},{"id":"5496b791.460778","type":"cloudant in","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","search":"_id_","design":"","index":"","x":430,"y":520,"wires":[["c28d0097.c2f92"]]},{"id":"ddd93087.f93ea","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":520,"wires":[["5496b791.460778"]]},{"id":"c28d0097.c2f92","type":"function","z":"739076b6.87f4c8","name":"","func":"msg.payload=msg.payload.prevq;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":520,"wires":[["567ff523.885a7c"]]},{"id":"fd4939a3.0ab398","type":"cloudant out","z":"739076b6.87f4c8","name":"","cloudant":"","database":"registration","service":"node-red-ejnws-cloudant-1591754475643-93587","payonly":true,"operation":"insert","x":890,"y":440,"wires":[]},{"id":"3b01654f.8b87aa","type":"function","z":"739076b6.87f4c8","name":"","func":"var email=global.get(\"email\");\nmsg.payload={\n    \"_id\":email,\n    \"first_name\":msg.payload.first_name,\n    \"last_name\":msg.payload.last_name,\n    \"gender\":msg.payload.gender,\n    \"password\":msg.payload.password,\n    \"address\":msg.payload.address,\n    \"street\":msg.payload.street,\n    \"pin\":msg.payload.pin,\n    \"city\":msg.payload.city,\n    \"code\":msg.payload.code,\n    \"phone\":msg.payload.phone,\n    \"your_email\":msg.payload.your_email,\n    \"checkbox\":msg.payload.checkbox,\n    \"register\":msg.payload.register,\n    \"res\":\"\",\n    \"prevq\":\"Hi, Reply using the below box\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["fd4939a3.0ab398"]]}]
